body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.pinimg.com/736x/59/ba/a5/59baa5f4e79e5e50ff42f7d1a4ba4d94.jpg);
    margin: 0;
    padding: 20px;
    color: #66FCF1;
}

.container {
    margin: auto;
    background-color: #1F2833;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 750px;
}

h1 {
    text-align: center;
}

.song-item {
    padding: 10px;
    border: 1px solid #0b0c10;
    margin: 5px 0;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0b0c10;
    border-radius: 8px;
    text-align: center;
}

.song-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.song-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 8px;
}

.song-item:hover {
    background: #e0e0e0;
}

.song-details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #0b0c10;
    display: none;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 3px 0;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    background-color: #C5C6C7;
    font-family:'Franklin Gothic Medium';
    font-size: large;
}

form button {
    padding: 10px;
    background: #124E66;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

form button:hover {
    background: #05146e;
}

p {
    text-align: center;
}

/* Search and filter styles */
#searchInput, #filterType, #searchButton {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: large;
}

#searchButton {
    background: #45A29E;
    color: white;
    cursor: pointer;
}

#searchButton:hover {
    background: #0B0C10;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.favourite-button {
    background: #FFD700;
    color: black;
}

.favourite-button:hover {
    background: #FFC107;
}

.remove-favourite-button {
    background: #FF4136;
    color: white;
}

.remove-favourite-button:hover {
    background: #D32F2F;
}
